@import "../../css/dafault.css";
@import "../../css/navbar.css";

.container {
  margin-bottom: 6rem;
}

.section-wrapper {
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 6rem;
}

.questions-card-container .option-container .btn.btn-option.correct-answer {
  border: 2px solid var(--green);
}

.questions-card-container .option-container .btn.btn-option.wrong-answer {
  border: 2px solid var(--red);
}

.questions-card-container {
  margin-bottom: 3rem;
}

.result-container .header {
  text-align: center;
  color: var(--white);
}

.result-container .header .header-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.result-container .header .final-score {
  color: var(--gray-300);
  font-size: 1.2rem;
  margin: 0 0 1.5rem 0;
}

.questions-card-container .card.questions-card {
  max-width: 450px;
  width: 100%;
  background: var(--secondary-color);
  border: none;
}

.questions-card-container .card-body {
  color: var(--white);
  padding: 1.5rem;
}

.result-container .questions-card-container .question-container {
  margin: 0 0 1.5rem 0;
  font-size: 1.2rem;
  line-height: 1.4;
}

.questions-card-container .option-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.5rem;
}

.questions-card-container .option-container .btn.btn-option {
  background: var(--primary-color);
  color: var(--gray-300);
  width: 100%;
  transition: all 0.3s ease;
}

.result-container .back-button {
  width: 100%;
  margin-top: 3rem;
}

.result-container .back-button .btn.btn-back-home {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accent-color);
  color: var(--gray-800);
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.result-container .back-button .btn.btn-back-home:hover {
  background: var(--secondary-color);
  color: var(--gray-100);
}

@media only screen and (min-width: 450px) {
  .questions-card-container .option-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }
  .section-wrapper {
    margin-top: 8rem;
  }
}

@media only screen and (min-width: 768px) {
  .questions-card-container .card-body {
    padding: 2rem;
  }
}
